# 1 Basics

## 1.1: The Interpreter

In [1]:
3 + 1 # It sums up the given values

4

In [2]:
3*3 # Multipy the values

9

In [3]:
2**3 # It takes power to second value

8

In [7]:
"Hello, world!" # Prints the given String

'Hello, world!'

## 1.2: Scripts

In [1]:
# Nothing happens when the script is run
print(3+1)
print(3*3)
print(2**3)
print("Hello, world!")

4
9
8
Hello, world!

## 1.3: More Interpreter

In [10]:
'py' + 'thon' #  it adds the string 'thon' to the string 'py'

'python'

In [9]:
'py'*3 + 'thon' # it adds the string 'thon' to the 3 times 'py'

'pypypython'

In [2]:
'py' - 'py'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [16]:
'3' + 3 # TypeError

TypeError: must be str, not int

In [3]:
3*'3' # It prints the string '3' three times

'333'

In [4]:
a # NameError: name 'a' is not defined

NameError: name 'a' is not defined

In [7]:
a = 3 # variable is initialized

In [8]:
a # prints the initialized value

3

## 1.4: Booleans

In [9]:
1 == 1 # 1 is equal to 1, so, it returns True

True

In [10]:
1 == True # 1 equals to True (binary logic)

True

In [21]:
0 == True # False, because 0 is equal to False (binary logic)

False

In [11]:
0 == False # True, because 0 is equal to False

True

In [23]:
3 == 1*3 # 3 equals to 3

True

In [12]:
(3==1)*3 # 3 is not equal to 1.So it is 0. 0 times 3 is 0

0

In [13]:
(3 == 3) * 4 + 3 == 1 # True + False = False

False

## 1.5: Integers

In [14]:
5/3 # 5 /3 is 1.6666667.

1.6666666666666667

In [15]:
5%3 # the remainder of the division is 2

2

In [16]:
5.0%3 # the remainder of the division 5.0 and 3 is 2.0

2.0

In [17]:
5 / 3.0 # same as the first exercise

1.6666666666666667

In [29]:
5.2%3 # the remainder is (2.2) . 5.2 - 3

2.2

In [18]:
2001**200 # the output is the result of 2001 to the power of 200

1775896810483121914350934797871501063452843428843794422323202530887281536545210629921129898113201749875234297340507804201761453596034016264189501186924066128377025843892373608427790859511135990682732202975330824797118808624727351608183194154557208730494440110429635650057431833674286462463508755276302896154336475782768613964332764108132533925570342220340698973761380541294970139762186212823359128790706292900765512137078550033912252338262922477518858757114840012576514724742388124595061301502222934806074032688691170880996881967426442947828261057852871032366879179996122216385870273020506079240103910728766397733398071775041745854959302025036249707279600400001

## 1.6: Floats

In [19]:
2000.3**200

OverflowError: (34, 'Result too large')

In [34]:
1. + 1. - 1. # the sum would be 1.

1.0

In [20]:
1.0 + 1.0e20 - 1.0e20 # when the 1. is added to 1.0e20 (a very large number), then it can be approximated that 1.0e20+1.0 = 1.0e20. Big number - Big number is 0.0

0.0

## 1.7: Variables

In [21]:
name = "John Doe"
print ("Hello, " + name + "!")

Hello, John Doe!

## 1.8: Type Casting

In [37]:
float(123) # 123, an int, is turned into a float

123.0

In [22]:
float('123') # converts from string to float

123.0

In [23]:
float('123.23') # converts 123.23 from string to float

123.23

In [40]:
int(123.23) # truncate the number at no decimal places. converts from float to int

123

In [24]:
int('123.23')

ValueError: invalid literal for int() with base 10: '123.23'

In [42]:
int(float('123.23')) # float converts '123.23' from string and int turns into an integer

123

In [43]:
str(12) # an int got converted into a string

'12'

In [44]:
str(12.2) # a float got converted into a string

'12.2'

In [45]:
bool('a')

True

In [46]:
bool(0) # given binary logic, 0 is always false

False

In [25]:
bool(0.1) # returns True. Bc it is not 0

True

## 2.1: Range

In [5]:
range(5) # It just returns range(0, 5) which means from 0 to 4

range(0, 5)

for i in range(5) means that it will execute while i in the range.The understand it clearly, i will be 0,1,2,3 and 4.

In [6]:
type(range(5)) # Returns range object

range

## 2.2: For Loops

a)

In [7]:
for i in range(101):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

b)

In [8]:
for i in range(0,101):
    if (i % 7 == 0):
        print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

c)

In [9]:
for i in range(1,101):
    if (i % 5 == 0 and i % 3 != 0):
        print(i)

5
10
20
25
35
40
50
55
65
70
80
85
95
100

d)

In [10]:
for i in range(2, 21):
    outstring = str(i) + ": ";
    for j in range(2, i):
        if (i%j == 0):
            outstring += str(j) + " "
    print(outstring)

2:
3:
4: 2
5:
6: 2 3
7:
8: 2 4
9: 3
10: 2 5
11:
12: 2 3 4 6
13:
14: 2 7
15: 3 5
16: 2 4 8
17:
18: 2 3 6 9
19:
20: 2 4 5 10

# 2.3: Simple While Loops

a)

In [11]:
i = 0
while (i < 101):
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

b)

In [12]:
i = 0
while (i < 101):
    if(i % 7== 0):
        print(i)
    i += 1

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

## 2.4 Hangman update 1

I get some error that I did not understand how to solve

In [13]:
'''
This simple script is a simple template for
simulating the performance of an agent.

You can use this to see how well a custom agent performs.
'''

from hangman.hangman import Hangman
from hangman.agent import Agent

''' SET OPTIONS HERE '''
# number of simulations
nsim = 1000
# number of lives of guesser
lives = 10
# filename for wordlist
filename = 'wordsEn.txt'
# agent used
agent = Agent

''' SCRIPT '''

def parseWordFile(filename):
    wordlist = []
    with open(filename, 'r') as f:
        for line in f:
            wordlist.append(line.strip().lower())

    return wordlist

# setup simulation
wins = 0
wordlist = parseWordFile('data/' + filename)

# run games
for sim in xrange(nsim):
    a = agent(wordlist)
    h = Hangman(a, a, lives=lives, verbose=False)
    outcome = h.play()
    wins += outcome

IndentationError: expected an indented block (hangman.py, line 70)

## 2.5: While loops

In [22]:
numberFound = 0
x = 11
while (numberFound < 20):
    if(x % 5 == 0 and x % 7 == 0 and x % 11 == 0 ):
        print(x)
        numberFound += 1
    x +=1

385
770
1155
1540
1925
2310
2695
3080
3465
3850
4235
4620
5005
5390
5775
6160
6545
6930
7315
7700

# 2.6: More while loops

In [23]:
import math

In [24]:
result = 1
for i in range(1,11):
    result = int((result * i)/ math.gcd(result,i))
print(result)

2520

# 2.7: Collatz Sequence

In [25]:
collatz = 103
# If xi = 1, we stop iterating
while (collatz != 1):
    # Checking if the number is even
    if (collatz % 2 == 0): 
        collatz = collatz / 2
        print (collatz)
    else :
        collatz = 3 * collatz + 1
        print (collatz)

310
155.0
466.0
233.0
700.0
350.0
175.0
526.0
263.0
790.0
395.0
1186.0
593.0
1780.0
890.0
445.0
1336.0
668.0
334.0
167.0
502.0
251.0
754.0
377.0
1132.0
566.0
283.0
850.0
425.0
1276.0
638.0
319.0
958.0
479.0
1438.0
719.0
2158.0
1079.0
3238.0
1619.0
4858.0
2429.0
7288.0
3644.0
1822.0
911.0
2734.0
1367.0
4102.0
2051.0
6154.0
3077.0
9232.0
4616.0
2308.0
1154.0
577.0
1732.0
866.0
433.0
1300.0
650.0
325.0
976.0
488.0
244.0
122.0
61.0
184.0
92.0
46.0
23.0
70.0
35.0
106.0
53.0
160.0
80.0
40.0
20.0
10.0
5.0
16.0
8.0
4.0
2.0
1.0

# 3 Functions

## 3.1: Hello

a)

In [3]:
def hello():
    print("Hello_world!")
    
hello()

Hello_world!

b)

In [4]:
def hello_name(name):
    print("Hello, "+ name + "!")

hello_name("Ahmet")

Hello, Ahmet!

c)It might seems like they are doing the same thing but they do not. print is only printing the given value. Return is throwing the value to us. For example, we can initialize variable from the method returns value but we can from print

## 3.2: Polynomial

In [14]:
def polynomial(x):
    result = (3 * x * x) - x + 2 
    return result

polynomial(5)

72

## 3.3: Maximum

a)

In [5]:
def my_max(x, y):
    if x > y:
        return x
    elif y >  x:
        return y

my_max(3,4)

4

b)

In [6]:
def my_max(x, y):
    if x > y:
        return x
    return y

my_max(3,4)

4

## 3.4: Primes

a)

In [15]:
def is_prime(n):
    # Prime numbers start from 2. So do this check
    if (n <= 1):
        return False
    for i in range(2, n):
        if (n % i == 0):
            return False
    return True

is_prime(11)

True

b)

In [38]:
def isPrime(n):
    if (n / 2 == 1 or n / 3 == 1):
        return True
    if((n - 1) / 6 == 1 or (n + 1) / 6 == 1 ):
        return True
    return False

isPrime(5)

True

c)

In [13]:
def printAllPrimes(n):
    for i in range (2, n):
        if (is_prime(i)):
            print(i)

printAllPrimes(12)

2
3
5
7
11

d)

In [20]:
def first_primes(n):
    numberOfPrimes = 0
    number = 2
    while numberOfPrimes < n :
        if(is_prime(number)):
            print(number)
            numberOfPrimes += 1
        number += 1

first_primes(6)

2
3
5
7
11
13

## 3.5: Root finding

a)

In [47]:
def root(f,a,b):
    if(a > b and f(a) > 0 and f(b) < 0):
        return
    c = (f(b)-f(a)) / (b - a)
    return c

def f(x):
    return x + 1 

root(f,1,2)

1.0

b)

In [50]:
def root2(f,a,b):
    c = (f(b)-f(a)) / (b - a)
    return c

def f(x):
    return x + 1 

root2(f,1,2)

1.0

c)

In [51]:
def root3(f,a,b):
    if (f(a) > 0 and f(b) > 0):
        print ("function evals have the same sign")
    elif (f(a) < 0 and f(b) < 0):
        print ("function evals have the same sign")
    else :
        root2(f,a,b)
root3(f,1,2)

function evals have the same sign