# 1 Basics

## 1.1: The Interpreter

In [1]:
3 + 1 # It sums up the given values

4

In [2]:
3*3 # Multipy the values

9

In [3]:
2**3 # It takes power to second value

8

In [7]:
"Hello, world!" # Prints the given String

'Hello, world!'

## 1.2: Scripts

In [1]:
# Nothing happens when the script is run
print(3+1)
print(3*3)
print(2**3)
print("Hello, world!")

4
9
8
Hello, world!

## 1.3: More Interpreter

In [10]:
'py' + 'thon' #  it adds the string 'thon' to the string 'py'

'python'

In [9]:
'py'*3 + 'thon' # it adds the string 'thon' to the 3 times 'py'

'pypypython'

In [2]:
'py' - 'py'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [16]:
'3' + 3 # TypeError

TypeError: must be str, not int

In [3]:
3*'3' # It prints the string '3' three times

'333'

In [4]:
a # NameError: name 'a' is not defined

NameError: name 'a' is not defined

In [7]:
a = 3 # variable is initialized

In [8]:
a # prints the initialized value

3

## 1.4: Booleans

In [9]:
1 == 1 # 1 is equal to 1, so, it returns True

True

In [10]:
1 == True # 1 equals to True (binary logic)

True

In [21]:
0 == True # False, because 0 is equal to False (binary logic)

False

In [11]:
0 == False # True, because 0 is equal to False

True

In [23]:
3 == 1*3 # 3 equals to 3

True

In [12]:
(3==1)*3 # 3 is not equal to 1.So it is 0. 0 times 3 is 0

0

In [13]:
(3 == 3) * 4 + 3 == 1 # True + False = False

False

## 1.5: Integers

In [14]:
5/3 # 5 /3 is 1.6666667.

1.6666666666666667

In [15]:
5%3 # the remainder of the division is 2

2

In [16]:
5.0%3 # the remainder of the division 5.0 and 3 is 2.0

2.0

In [17]:
5 / 3.0 # same as the first exercise

1.6666666666666667

In [29]:
5.2%3 # the remainder is (2.2) . 5.2 - 3

2.2

In [18]:
2001**200 # the output is the result of 2001 to the power of 200

1775896810483121914350934797871501063452843428843794422323202530887281536545210629921129898113201749875234297340507804201761453596034016264189501186924066128377025843892373608427790859511135990682732202975330824797118808624727351608183194154557208730494440110429635650057431833674286462463508755276302896154336475782768613964332764108132533925570342220340698973761380541294970139762186212823359128790706292900765512137078550033912252338262922477518858757114840012576514724742388124595061301502222934806074032688691170880996881967426442947828261057852871032366879179996122216385870273020506079240103910728766397733398071775041745854959302025036249707279600400001

## 1.6: Floats

In [19]:
2000.3**200

OverflowError: (34, 'Result too large')

In [34]:
1. + 1. - 1. # the sum would be 1.

1.0

In [20]:
1.0 + 1.0e20 - 1.0e20 # when the 1. is added to 1.0e20 (a very large number), then it can be approximated that 1.0e20+1.0 = 1.0e20. Big number - Big number is 0.0

0.0

## 1.7: Variables

In [21]:
name = "John Doe"
print ("Hello, " + name + "!")

Hello, John Doe!

## 1.8: Type Casting

In [37]:
float(123) # 123, an int, is turned into a float

123.0

In [22]:
float('123') # converts from string to float

123.0

In [23]:
float('123.23') # converts 123.23 from string to float

123.23

In [40]:
int(123.23) # truncate the number at no decimal places. converts from float to int

123

In [24]:
int('123.23')

ValueError: invalid literal for int() with base 10: '123.23'

In [42]:
int(float('123.23')) # float converts '123.23' from string and int turns into an integer

123

In [43]:
str(12) # an int got converted into a string

'12'

In [44]:
str(12.2) # a float got converted into a string

'12.2'

In [45]:
bool('a')

True

In [46]:
bool(0) # given binary logic, 0 is always false

False

In [25]:
bool(0.1) # returns True. Bc it is not 0

True